@menu-prefix-cls: ~'@{namespace}-menu';
@menu-popup-prefix-cls: ~'@{namespace}-menu-popup';
@menu-popover-prefix-cls: ~'@{namespace}-menu-menu-popover';
@submenu-popup-prefix-cls: ~'@{namespace}-menu-submenu-popup';

@menu-dark-subsidiary-color: rgba(255, 255, 255, 0.7);
@transition-time: .2s;

.@{menu-prefix-cls} {
  font-size: 12px;
  &-collapse {
    
  }
}

.@{menu-popover-prefix-cls} {
  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner-content {
    padding: 0
  }
}

.content();
.content {
  .@{menu-prefix-cls} {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    // color: @text-color-base;
    color: @menu-dark-subsidiary-color;

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 14px 24px;

      &-active {
        background: @primary-color !important;
      }

      > i {
        margin-right: 6px;
      }
    }

    &-submenu-title {
      position: relative;
      padding: 14px 24px;
      cursor: pointer;
    }

    &-subMenu-title-icon {
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-subMenu-title-icon {
      transition: transform @transition-time @ease-in-out;
    }

    &-opened > * > &-subMenu-title-icon {
      transform: translateY(-50%) rotate(180deg);
    }


  }
}