html {
  --text-color: rgba(0 0 0 / 85%);

  --sider-dark-bg-color: #273352;

  --sider-dark-lighten-bg-color: #273352;

  // component
  --component-background-color: #fff;

  // header
  --header-bg-hover-color: #273352;

  --border-color: #eee;
}

@white: #fff;

@primary-color: #E86043;
// @primary-color: #13c2c2;
@text-color-secondary: #8b949e;

@content-bg: #f4f7f9;

@text-color-base: var(--text-color);
// 菜单背景色
@sider-dark-bg-color: var(--sider-dark-bg-color);
@sider-dark-lighten-bg-color: var(--sider-dark-lighten-bg-color);


// header
@header-dark-bg-hover-color: var(--header-bg-hover-color);
@header-light-bg-hover-color: #f6f6f6;

// breadcrumb
@breadcrumb-item-normal-color: #999;

// 组件的背景色
@component-background: var(--component-background-color);

@border-color-base: var(--border-color);
@border-color-light: @border-color-base;


// 按钮颜色
// success-color
@button-success-active-color: darken(@success-color, 10%);
@button-warning-active-color: darken(@warning-color, 10%);
@button-error-active-color: darken(@error-color, 10%);
