@header-prefix-cls: ~'@{namespace}-layout-header';
@header-trigger-prefix-cls: ~'@{namespace}-layout-header-trigger';


.@{header-prefix-cls} {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: @white;
  padding: 0;
  line-height: @header-height;

  &-left {
    display: flex;
    align-items: center;


    .@{header-trigger-prefix-cls} {
      height: 100%;
      padding: 1px 10px 0;
      cursor: pointer;
    }
  }

  &-action {
    display: flex;
    align-items: center;
    padding-right: 20px;
    min-width: 180px;

    &__item {
      display: flex;
      align-items: center;
      height: @header-height;
      padding: 0 2px;
      font-size: 1.2em;
      cursor: pointer;
    }

    svg[role='img'] {
      padding: 0 8px;
    }
  }
}